# Server Configuration
PORT=8080

# App Configuration
APP_NAME=AgencyFramework
LOGO_URL=https://app.agencyframework.io/favicon.png
SUPPORT_EMAIL=help@hipcreativeinc.com
WEBSITE_URL=https://app.agencyframework.io
