{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": false,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "refresh": false
      }
    },
    "target": "es2022",
    "externalHelpers": true,
    "keepClassNames": true,
    "loose": false
  },
  "module": {
    "type": "commonjs",
    "noInterop": false
  },
  "sourceMaps": true
}
